<h1>Lists <%= @list.name %></h1>
<%= link_to 'Add new movie', new_list_bookmark_path(@list) %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>titre * rating</h2>
      <p>overview</p>
      <small>comment</small>
    </div>
    <h2>delete</h2>
  </div>
</div>
